<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<div class="body">
    <form id="registrar" method="POST" name="registrar" action="/presentation/login/registro">
        <div class="form">
            <div class="heading"> Registro</div>
            <div class="row">
                <div>Nombre</div>
                <div><input type="text" id="nombre" name="nombre" size=15 value=""></div>
            </div>
            <div class="row">
                <div>Identificacion</div>
                <div><input type="text" id="identificacion" name="identificacion" size=15 value=""></div>
            </div>
            <div class="row">
                <div>Correo</div>
                <div><input type="text" id="correo" name="correo" size=15 value=""></div>
            </div>
            <div class="row">
                <div>Contraseña</div>
                <div><input type="text" id="clave" name="clave" size=15 value=""></div>
            </div>
            <div th:if="${exito}" class="exito-feedback"> <p th:text="${exito}"></p> </div>
            <div th:if="${error}" class="error-message"> <p th:text="${error}"></p> </div>
            <div class="heading"><input type="submit" name="registro" value="Aceptar"></div>
        </div>
    </form>
</div>
</body>
</html>