<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Facturación Electrónica</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="body">
    <form  th:action="@{/presentation/login/login}" th:object="${usuario}" method="POST" name="entrar" action="">
    <div class="form">
        <div class="heading"> Login</div>
        <div class="row">
            <div>Nombre</div>
            <input type="text"  name="nombre" size="15" value="">
        </div>
        <div class="row">
            <div>Clave</div>
            <div><input type="password"   name="clave" size=15 value=""></div>
        </div>
        <div class="heading"><input type="submit" name="login" value="Login"></div>
        <div class="heading">No tiene cuenta?</div>
        <a href="/presentation/login/registrar">Regístrese aquí</a>
    </div>
    </form>
</div>
<div class="footer">
    <div>@factura.electronica.com<img class="logo" src="/images/logo.png"/>&nbsp</div>
</div>
</body>
</html>