<header th:fragment="header" class="header">
    <link rel="stylesheet" href="/css/header.css">
    <div><img class="logo" src="/images/logo.png"/>&nbsp</div>
    <div class="titulo">Facturación Electrónica</div>
        <ul class="Menu">
            <li><a href="/presentation/acercade/show"> Acerca de...</a></li>
            <th:block th:if="${session.usuario!=null}">
                <th:block th:if="${session.usuario.getRol().equals( 'PRO')}">
                    <li><a href="/presentation/facturar/show">Facturar</a></li>
                    <li><a href="/presentation/clientes/show">Clientes</a></li>
                    <li><a href="/presentation/facturas/show">Facturas</a></li>
                    <li><a href="/presentation/productos/show">Productos</a></li>
                </th:block>
                <th:block th:if="${session.usuario.getRol().equals('ADM')}">
                    <li><a href="/presentation/proveedorores/show">Proveedores</a></li>
                </th:block>
                <li><a href="#"><span th:text="${session.usuario.getIdentificacion()}"></span></a>
                    <ul>
                        <li><a href="">Perfil</a></li>
                        <li><a href="/presentation/login/logout">Logout</a></li>
                    </ul>
                </li>
            </th:block>
            <th:block th:unless="${session.usuario!=null}">
                <li><a href="/presentation/login/show">Login</a></li>
            </th:block>
        </ul>
</header>
