table {
    width: 800px;
    margin: 50px auto;
    border-collapse: collapse;

}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: indianred;
}

/* Estilos para el formulario de búsqueda */
form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="image"] {
    margin-left: 5px;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}