body {
    background-color: #f5f5f5; /* Color de fondo para el cuerpo de la página */
    font-family: Arial, sans-serif; /* Fuente para el texto */
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}

.table th, .table td {

    padding: 8px;
}

.table th {
    background-color: indianred; /* Color de fondo para los encabezados */
}

.table tr {
    border: 1px solid #ccc; /* Borde para cada fila */
}


.section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


input[type="text"] {
    width: calc(100% - 10px); /* El ancho del campo de entrada es el 100% del contenedor menos 10px de margen */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    padding: 5px; /* Espaciado interno */
    margin: 0; /* Elimina el margen */
}

/* Estilo específico para los campos de ID y Código */
input[name="id"],
input[name="codigo"] {
    width: calc(50% - 5px); /* El ancho del campo de entrada es el 50% del contenedor menos 10px de margen */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    padding: 5px; /* Espaciado interno */
    margin: 0; /* Elimina el margen */
}

.section input[type="image"] {
    width: 25px; /* Ancho deseado para la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

.boton-con-imagen {
    background-repeat: no-repeat;
    background-position: left;
    border: none;
    background-size: 20px; /* Ajusta el tamaño de la imagen según sea necesario */
    padding-left: 25px; /* Ajusta el espacio a la izquierda del texto para que quepa la imagen */

}

.total-cell {
    text-align: left; /* Alinea el texto a la izquierda */
}

.check {
    width: 15px; /* Ancho del logo */
    height: 15px; /* Altura del logo */

}

.error-message {
    background-color: #ffcccc; /* Color de fondo del mensaje de error */
    color: #cc0000; /* Color del texto del mensaje de error */
    border: 1px solid #cc0000; /* Borde del mensaje de error */
    margin-top: 5px; /* Margen superior del mensaje de error */
    border-radius: 5px; /* Radio de borde del mensaje de error */
    padding: 2px;
}
