.footer {
    background-color: indianred;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

