body{
    margin: 0;
}

.body {
    margin: 20px auto;
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: lightcoral 0px 30px 30px -20px;

}


.form {
    margin-bottom: 30px;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #cc0000;
}

.row {
    margin-bottom: 20px;
    width: 100px;
}

.row div {
    margin-bottom: 10px;
}

input[type="text"], input[type="password"]{
    width: 300%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: gainsboro 1px 5px 10px -5px;

}

.heading input[type="text"],
.heading input[type="password"],
.heading input[type="submit"] {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.heading input[type="submit"] {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, coral, 0%, indianred 40%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.heading input[type="submit"]:hover {
    transform: scale(1.03);
    box-shadow: crimson 0px 23px 10px -20px;
}

.link{
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: crimson;

}

.form a {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: crimson;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.heading a:hover {
    text-decoration: none;
    color: #0056b3;
}

.footer {
    background-color: indianred;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.error-message, .error-feedback {
    background-color: #ffcccc; /* Color de fondo del mensaje de error */
    color: #cc0000; /* Color del texto del mensaje de error */
    border: 1px solid #cc0000; /* Borde del mensaje de error */
    margin-top: 10px; /* Margen superior del mensaje de error */
    border-radius: 5px; /* Radio de borde del mensaje de error */
    padding: 5px;
}


/* Media queries */

@media (max-width: 768px) {
    .body {
        padding: 20px;
    }

    .heading input[type="text"],
    .heading input[type="password"],
    .heading input[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }

    .footer {
        border-radius: 10px;
    }
}
