.titulo-producto {
    font-family: "Bradley Hand ITC";
    font-size: 32px; /* Tamaño de fuente más grande */
    color: indianred;
    margin-bottom: 20px; /* Agrega espacio debajo del título */
    display: flex;
    justify-content: center;
    align-items: center;
}