

.body {
    margin: 20px auto;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
    margin-bottom: 30px;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
}

.row {
    margin-bottom: 20px;
    width: 100px;
}

.row div {
    margin-bottom: 10px;
}
input[type="text"] {
    width: 390%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.heading input[type="text"],
.heading input[type="submit"] {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.heading input[type="submit"] {
    width: 100%;
    background-color: #a44a3f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.heading input[type="submit"]:hover {
    background-color: #780116;
}



.footer {
    background-color: #a44a3f;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Media queries */
@media (max-width: 768px) {
    .body {
        padding: 20px;
    }

    .heading input[type="text"],
    .heading input[type="password"],
    .heading input[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }

    .footer {
        border-radius: 10px;
    }
}