<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/facturas.css">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>

<table>
    <tr>
        <th></th>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Proveedor</th>
        <th>...</th>
    </tr>
    <!--            <tr th:each="c: ${productos}">-->
    <!--            <td th:text="${c.getCodigo()}" />-->
    <!--            <td th:text="${c.getNombre()}"/>-->
    <!--            <td th:text="${c.getPrecio()}"-->
    <!--            <td th:text="${c.getCantidad()}"
                    <td th:text="${c.getProveedorByProveedorIdP()}" </tr>-->
</table>

<div class="footer">
    <div>@factura.electronica.com<img class="logo" src="/images/logo.png"/>&nbsp</div>
</div>
</body>
</html>