<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="/css/tabla-editar.css">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<div class="container">
    <div class="main-content">
        <div class="centered">
            <div class="titulo-producto">Productos</div>
            <table>
                <tr>
                    <th></th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Proveedor</th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="6">
                        <form th:action="@{/presentation/productos/buscar}" method="post">
                            <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre...">
                            <input type="image" src="/images/loupe.png" width="20" height="20">
                        </form>
                    </td>
                </tr>
                <tr th:each="c: ${productos}">
                    <td>
                        <a th:href="@{/presentation/facturar/selectP(proCod=${c.codigo})}" class="edit-link">
                            <img class="icon" src="/images/check.png"/>
                        </a>
                    </td>
                    <td th:text="${c.getCodigo()}"></td>
                    <td th:text="${c.getNombre()}"></td>
                    <td th:text="${c.getPrecio()}"></td>
                    <td th:text="${c.getCantidad()}"></td>
                    <td th:text="${c.getProveedorIdP()}"></td>
                    <td>
                        <a th:href="@{'/presentation/productos/editar/' + ${c.codigo}}" class="edit-link">
                            <img class="icon" src="/images/edit.png"/>
                        </a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div class="side-content">
        <div class="titulo-producto">Editar</div>
        <form method="POST" name="editar" th:object="${productoEditar}"
              th:action="@{/presentation/productos/crear}">
            <div>
                <label for="codigo">Codigo</label>
                <input type="text" id="codigo" name="codigo" th:field="*{codigo}"
                       th:attr="readonly=${productoEditar.codigo != null}" required>
            </div>
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="" th:field="*{nombre}" required>
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="text" id="precio" name="precio" value="" th:field="*{precio}" required>
            </div>
            <div>
                <label for="cantidad">Cantidad</label>
                <input type="text" id="cantidad" name="cantidad" value="" th:field="*{cantidad}" required>
            </div>
            <div>
                <input type="submit" name="crear" value="Crear">
            </div>
        </form>
    </div>
</div>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>