<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/facturas.css">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>

<table>
    <tr>
        <th></th>
        <th>Codigo</th>
        <th>Numero de cliente</th>
        <th>Proveedor</th>
        <th>Detalle</th>
        <th>Proveedor</th>
        <th>...</th>
    </tr>
    <!--            <tr th:each="c: ${facturas}">-->
    <!--            <td th:text="${c.getCodigo()}" />-->
    <!--            <td th:text="${c.getClienteByClienteNum()}"/>-->
    <!--            <td th:text="${c.getProveedorByProveedorIdF()}"-->
    <!--            <td th:text="${c.getDetallesByCodigo()}"
                    <td th:text="${c.getProveedorByProveedorIdF()}" </tr>-->
</table>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>