<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/clientes.css">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>

<div class="container">
    <div class="main-content">
        <div class="centered">
            <div class="titulo-cliente">Clientes</div>
            <table>
                <tr>
                    <th></th>
                    <th>Identificacion</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>...</th>
                </tr>
                <tr>
                    <td colspan="6"> <input type="text" name="codigo" size="5" value=""> </td>
                </tr>
                <!--            <tr th:each="c: ${clientes}">-->
                <!--            <td th:text="${c.getIdentificacion()}" />-->
                <!--            <td th:text="${c.getNombre()}"/>-->
                <!--            <td th:text="${c.getCorreo()}"-->
                <!--            <td th:text="${c.getTelefono()}"  </tr>-->
            </table>
        </div>
    </div>

    <div class="side-content">
        <div class="titulo-cliente">Editar</div>
        <form method="POST" name="editar">
            <div>
                <label for="id">Identificacion</label>
                <input type="text" id="id" name="id" value="">
            </div>
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="">
            </div>
            <div>
                <label for="correo">Correo</label>
                <input type="text" id="correo" name="correo" value="">
            </div>
            <div>
                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" name="telefono" value="">
            </div>
            <div>
                <input type="submit" name="crear" value="Crear">
            </div>
        </form>
    </div>
</div>

<div class="footer">
    <div>@factura.electronica.com<img class="logo" src="/images/logo.png"/>&nbsp</div>
</div>
</body>
</html>
