<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/clientes.css">
    <link rel="stylesheet" href="/css/tabla-editar.css">

</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>

<div class="container">
    <div class="main-content">
        <div class="centered">
            <div class="titulo-cliente">Clientes</div>
            <table>
                <tr>
                    <th></th>
                    <th >Identificacion</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th >Teléfono</th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="6">
                        <form th:action="@{/presentation/clientes/buscar}" method="post">
                            <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre...">
                            <input type="image" src="/images/loupe.png" width="20" height="20">
                        </form>
                    </td>
                </tr>
                <tr th:each="c: ${clientes}">
                    <td>
                        <a th:href="@{/presentation/facturar/selectC(cliID=${c.identificacion})}" class="edit-link">
                            <img class="icon" src="/images/check.png"/>
                        </a>
                    </td>
                    <td th:text="${c.getIdentificacion()}"></td>
                    <td th:text="${c.getNombre()}"></td>
                    <td th:text="${c.getCorreo()}"></td>
                    <td th:text="${c.getTelefono()}"></td>
                    <td>
                        <a th:href="@{'/presentation/clientes/edit/' + ${c.identificacion}}" class="edit-link">
                            <img class="icon" src="/images/edit.png"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="side-content">
        <div class="titulo-cliente">Editar</div>
        <form method="POST" name="editar" th:object="${clienteEditar}"
              th:action="@{/presentation/clientes/create}" autocomplete="off">
            <div>
                <label for="id">Identificacion</label>
                <input type="text" id="id" name="identifiacion" value="" th:field="*{identificacion}"
                      required>
            </div>
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="" th:field="*{nombre}" required>
            </div>
            <div>
                <label for="correo">Correo</label>
                <input type="text" id="correo" name="correo" value="" th:field="*{correo}" required>
            </div>
            <div>
                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" name="telefono" value="" th:field="*{telefono}" required>
            </div>
            <div>
                <input type="submit" name="crear" value="Crear">
            </div>
        </form>
    </div>
</div>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>
