<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <link rel="stylesheet" href="/css/acercaDe.css">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main>
    <h1>Programación IV</h1>
    <h2>Proyecto I</h2>
    <h3>Estudiantes:</h3>
    <ul>
        <li>Mariángel Avendaño Ramírez</li>
        <li>Ana Avendaño Ramírez</li>
    </ul>
    <img src="/images/logo.png" alt="Imagen Linda">
</main>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>